<!DOCTYPE html>
<html lang="es">
<head>
    <title>Noticias - Orphan's Purgatory</title>
    <meta charset="UTF-8">
    <meta name="description" content="Últimas noticias y actualizaciones de Orphan's Purgatory.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="TuWazo">
    <meta name="keywords" content="Noticias, actualizaciones, Orphan's Purgatory, Discord">
    <meta name="locality" content="Spain, Latin America">
    <meta name="category" content="Social, Community">
    <link rel="stylesheet" href="../css/StyleNews.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- ================== Nav ================== -->
   <nav class="navbar">
    <div class="container-nav">
     <a href="../index.html" class="logo-nav">Orphan's Purgatory</a>
   </div>    
  </nav>

  <main>
    <!-- ================== Noticias ================== -->
    <section id="noticias">
  
        <!-- Imagen/banner separada -->
        <div class="noticias-banner">
          <img src="../images/picon.png" alt="Noticias Orphan's Purgatory">
        </div>
      
        <!-- Contenedor de noticias -->
        <div id="contenedor-noticias">
          <h2>Últimas noticias</h2>
          <!-- Aquí se insertarán las noticias dinámicamente -->
        </div>
      
      </section>
          
  </main>


  
     <!-- ================== Footer ================== -->
  <footer>
    <p>&copy; TuWazo | Todos los derechos reservados</p>
    <p>Medios de contacto:</p>
    
    <div class="social-icons">
        <a href="discord.com/users/625754542952153089" target="_blank" class="discord">
            <i class="fab fa-discord"></i>
    </div>
  </footer>

   <!-- ================== Scripts ================== -->
<script src="../js/news.js"></script>
</body>
</html>